<footer class="bg-[#1f191d] text-xs select-none flex justify-between py-2 mt-6">
  <p class="text-xs text-gray-600 select-none mx-2">© 2026 Josselin Hanel</p>
  
  <a href="contact.html" class="ml-2 mr-4 text-gray-500 hover:text-gray-400 transition-colors">Privacy Policy</a>
</footer>